.tamasha-animation-bubble {
	opacity:0.0;
	transform-origin:center center;
	transform: scale(0);
	animation: bubble 0.8s ease-out 0.0s 1 normal forwards;
}

@keyframes bubble {
	100% { transform:scaleX(1.0); opacity:1.0; }
}