/* works */
.tamasha-animate {
	top: 100%;
	position: relative;
	height:100%;

	animation-name: slideup;
	animation-delay: 0s;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideup {
	100% {top: 0;}
}