/* url: https://codepen.io/gabrieleromanato/pen/hIpjF*/
.tamasha-animate {
	width:100%;
	animation-name: slideleft;
	animation-duration: 1.5s;	
	animation-timing-function: ease-in-out;	

}

@keyframes slideleft {
	from {
		margin-left: 100%;
	}

	to {
		margin-left: 0%;
	}
}
