.kimia .tamasha-slide-content {	
    font-size:20px;
    line-height:36px;	
}


.kimia .tamasha-slide-content .title{ /* used with vanilla template*/
    font-weight:300;
    font-size: 52px;
    line-height: 52px;
}