/* kimia is a basic theme */

/* hide ui elements */
.kimia .tamasha-slide-number,
.kimia .tamasha-viewer-nav {
	display:none;
}

/*
.kimia .tamasha-progress {
	display:none;
}
*/

.kimia .tamasha-slide-content{
    font-weight:500;
}

.kimia .tamasha-slide-content .title{ /* used with vanilla template*/
	  font-family: Impact, sans-serif;
	  font-weight:300;
}
