.leila .tamasha-presentation-frame, 
.leila .tamasha-overlay {
color:#ffffff;
/*background-color:#A52A2A;*/
background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.leila .tamasha-presentation-frame   a:link {
  color: yellow;
}

.leila .tamasha-presentation-frame  a:visited  {
  color: #00ff00;
}

.leila .tamasha-slide-content  pre {
    background-color: #182848;
}

/* ---------- tables ---------- */
.leila .tamasha-slide-content table th, 
.leila .tamasha-slide-content table thead td {
    background-color: #4b6cb7;
}