.mitra .tamasha-slide-content {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
}

.mitra .tamasha-slide-content{
	font-weight:500;
}

.mitra .tamasha-slide-content .title{ /* used with vanilla template*/
    font-size:1.5em;
    line-height:1.5em;
    font-weight:500;
}

.mitra .tamasha-slide-content ol,
.mitra .tamasha-slide-content ul{
	text-align:left;
}
/* ---------- code ---------- */
.mitra .tamasha-slide-content  code,
.mitra .tamasha-slide-content  pre {
	font-size:0.9em;
	line-height:1.2em;
	text-align:left;
}

/* ---------- tables ---------- */
.mitra .tamasha-slide-content table td,
.mitra .tamasha-slide-content table th {
	font-size:0.8em;
	font-weight:400;
}

.mitra .tamasha-slide-content table caption {
	caption-side:top;
	font-size:1em;
	margin-bottom:0.2rem;
}
