.vanda .tamasha-slide-content{
/*	font-size:32px;
	line-height:48px;
	font-weight:500;*/
}

.vanda .tamasha-slide-content .title{ /* used with vanilla template*/
/*	font-size:1.5em;
	line-height:1.5em;
	font-weight:500; */
}

/* ---------- code ---------- */
.vanda .tamasha-slide-content  code,
.vanda .tamasha-slide-content  pre {
	font-size:0.8em;
	line-height:1em;
	text-align:left;
}

/* ---------- tables ---------- */
.vanda .tamasha-slide-content table td,
.vanda .tamasha-slide-content table th {
	font-size:0.5em;
	font-weight:400;
}

.vanda .tamasha-slide-content table caption {
	caption-side:top;
	font-size:0.7em;
	margin-bottom:0.2rem;
}