.tamasha-slide-content {
  font-size: 1.3rem;
  line-height: 1.85rem;
  padding: 30px;
  margin: 0 auto;
  max-width: 900px;
  height: 600px;
  overflow: hidden;
  margin-bottom: 4rem;
}

.tamasha-overlay .tamasha-slide-content {
  font-size: 3vh;
  line-height: 5vh;
  height: auto;
  padding: 8vh;
}
