.tamasha-popup{
	left: 50px;
	position: absolute;
	bottom: 60px;

	padding-right:30px; /* to adapt with ol used inside popup */
	border-radius:4px;

	max-height:50%;
	overflow-y:auto;
	max-width:50%;
}

.tamasha-popup .tc-btn-invisible{
	text-align:left;
}